<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof title !== 'undefined' ? title : 'Christmas Crab Game' %></title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body class="bg-red-900 min-h-screen">
    <%- body %>
</body>
</html>

